@import "compass/utilities/sprites";
@import "compass/css3/background-size";

// 将 px 转化成 rem
@function px-to-rem($pxVal) {
    $pxVal : $pxVal / ($pxVal * 0 + 1);// 去单位
    @if  $pxVal == 0 {
      @return 0;
    } @else {
      @return $pxVal/100 * 1rem;
    }
}

// 获取背景图片所需的样式
@mixin iconBg($name,$px:0) {
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
    @if $name {
        background-image: url('../img/' + $name);
        @if $px !=0 {
            width: image-width('../img/' + $name) * $px;
            height: image-height('../img/' + $name) * $px;
        }
        @else {
            width: image-width('../img/' + $name) / 100px * 1rem;
            height: image-height('../img/' + $name) / 100px * 1rem;
        }
    }
    box-sizing: border-box;
}

// 雪碧图生成方法，需引入compass
// 使用步骤：
// 1.config.rg 设置雪碧图目录 sprite_load_path = "../src/sprite"
// 2.页面scss样式文件使用如下代码
// $icons_piece_page: sprite-map("taskCenter/icons/piece/*.png", $spacing: 10px, $layout: vertical);
// @include retina-sprite($icons_piece_page, "blank_friend_tab");
@mixin retina-sprite($sprites,$name , $isRem: true) {
    display: inline-block;
    $iconPath: sprite-file($sprites, $name); // 图标文件的路径
    $iconWidth: image-width($iconPath);
    $iconHeight: image-height($iconPath);
    $iconPosXInSprite: 0;// 垂直放的
    $iconPosYInSprite: nth(sprite-position($sprites, $name), 2);
    background-repeat: no-repeat;
    background-image: sprite-url($sprites);
    @if $isRem {
      width: px-to-rem($iconWidth);
      height: px-to-rem($iconHeight);
      $spriteWidth: sprite-width($sprites);
      $spriteHeight: sprite-height($sprites);
      /*
      * 完美解决移动端使用 rem 单位时 CSS Sprites 错位问题
      * (https://github.com/banricho/webLog/issues/1
      */
      @if $iconPosYInSprite != 0 {
        $iconPosYInSprite: $iconPosYInSprite / ($iconHeight - $spriteHeight) * 100%;
      }
      background-position: $iconPosXInSprite $iconPosYInSprite;
      background-size: px-to-rem($spriteWidth) px-to-rem($spriteHeight);
    } @else {
      width: $iconWidth;
      height: $iconWidth;
      background-position: $iconPosXInSprite $iconPosYInSprite;
    }
}



// 1像素边框实现方法
@mixin border($dir:bottom,$color:#000,$elem:"after") {
    border-#{$dir}:$color 1px solid;
    @media screen and (-webkit-min-device-pixel-ratio: 2) {
        border: 0;
        &:#{$elem} {
            content: "";
            display: block;
            position: absolute;
            #{$dir}: 0;
            @if $dir=='bottom' {
                left: 0;
                right: 0;
                -webkit-transform: scale(1, 0.5);
            }
            @if $dir=='top' {
                left: 0;
                right: 0;
                -webkit-transform: scale(1, 0.5);
            }
            @if $dir=='left' {
                top: 0;
                bottom: 0;
                -webkit-transform: scale(0.5, 1);
            }
            @if $dir=='right' {
                top: 0;
                bottom: 0;
                -webkit-transform: scale(0.5, 1);
            }
            border-#{$dir}: 1px solid $color;
        }
    }
}
